In [2]:
import pandas as pd

In [37]:
# 상단 3개 삭제 후 가져오기
# index 행정기관을 지정하여 df로 변환해서 출력
# 위 5개만 출력

df = pd.read_excel('연령별인구현황01.xlsx',skiprows=3,index_col='행정기관',usecols='B,E:Y') # skiprows=x : 상단 x줄 삭제, usecols='X,Y:Z' : 원하는 컬럼을 가져옴 (X와 Y~Z사이 가져옴)
df.head() # 상단 5개

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"678,966","1,019,087","1,195,436","1,195,498","1,446,090","1,777,534","1,788,146","1,629,589","2,055,022","1,965,092",...,"2,115,365","2,093,694","1,670,380","1,066,316","760,968","519,583","231,644","59,761","9,722","1,473"
서울특별시,"108,980","153,021","182,124","192,594","259,317","381,579","390,591","323,061","365,028","336,780",...,"344,390","337,863","285,721","191,666","143,645","97,437","40,546","10,299","1,873",330
부산광역시,"38,448","60,686","68,796","66,291","88,093","104,607","105,654","95,166","126,678","117,616",...,"128,876","139,072","125,107","85,373","59,539","38,701","15,033","3,452",501,64
대구광역시,"29,446","47,319","54,556","55,806","70,259","77,875","78,520","70,471","88,121","87,832",...,"101,045","98,539","77,027","51,943","34,587","24,597","10,633","2,594",345,33
인천광역시,"42,297","61,234","70,555","69,074","82,703","105,530","112,957","102,530","128,599","118,537",...,"124,519","125,589","93,260","54,404","37,892","23,926","10,420","2,728",492,100

In [ ]:
df[0:1]
df.iloc[0] # row을 보는 명령어
df.loc['전국  '] # row을 보는 명령어
df.iloc[0] = df.iloc[0].str.replace(',','').astype(int) # str : 문자형으로 정의 후 // replace (문자형만 가능) // astype : 타입변환
# df.info()
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"678,966","1,019,087","1,195,436","1,195,498","1,446,090","1,777,534","1,788,146","1,629,589","2,055,022","1,965,092",...,"2,115,365","2,093,694","1,670,380","1,066,316","760,968","519,583","231,644","59,761","9,722","1,473"
서울특별시,"108,980","153,021","182,124","192,594","259,317","381,579","390,591","323,061","365,028","336,780",...,"344,390","337,863","285,721","191,666","143,645","97,437","40,546","10,299","1,873",330
부산광역시,"38,448","60,686","68,796","66,291","88,093","104,607","105,654","95,166","126,678","117,616",...,"128,876","139,072","125,107","85,373","59,539","38,701","15,033","3,452",501,64
대구광역시,"29,446","47,319","54,556","55,806","70,259","77,875","78,520","70,471","88,121","87,832",...,"101,045","98,539","77,027","51,943","34,587","24,597","10,633","2,594",345,33
인천광역시,"42,297","61,234","70,555","69,074","82,703","105,530","112,957","102,530","128,599","118,537",...,"124,519","125,589","93,260","54,404","37,892","23,926","10,420","2,728",492,100
광주광역시,"19,610","31,053","37,472","38,552","47,214","52,118","47,130","42,492","56,992","56,052",...,"56,340","50,866","37,752","25,046","18,998","12,619","5,429","1,351",201,21
대전광역시,"20,346","29,166","34,562","36,439","46,545","57,303","53,317","46,193","55,051","54,478",...,"57,422","54,678","43,397","27,186","18,680","12,620","5,619","1,524",246,36
울산광역시,"15,166","25,146","29,086","27,990","31,111","38,403","38,400","35,883","47,336","44,239",...,"52,502","49,489","36,190","21,798","12,945","7,524","2,658",654,83,9
세종특별자치시,"8,624","13,427","14,204","11,447","9,161","9,946","13,408","15,754","20,303","17,955",...,"11,992","10,544","8,084","4,832","3,031","2,025",952,262,50,4
경기도,"204,419","299,183","342,091","333,360","391,729","490,676","506,349","472,624","594,339","554,698",...,"556,742","526,212","391,277","229,271","164,431","110,138","50,125","13,270","2,230",402
강원특별자치도,"19,483","26,680","32,430","34,211","43,572","47,429","44,226","40,435","51,860","54,015",...,"67,689","73,683","64,414","37,223","28,632","21,057","9,607","2,359",432,94
충청북도,"21,237","31,386","37,100","37,416","44,959","54,997","54,231","48,348","60,085","59,312",...,"70,026","71,620","58,998","35,770","24,724","18,112","8,671","2,063",364,41
충청남도,"29,179","44,170","52,742","51,729","57,873","67,298","68,193","67,983","88,076","84,253",...,"90,144","92,109","73,584","48,773","35,575","25,597","13,790","3,955",590,69
전북특별자치도,"19,613","32,347","41,309","43,453","50,738","52,163","46,324","43,584","60,005","65,087",...,"77,228","78,033","64,218","45,194","33,925","24,018","11,928","3,242",513,63
전라남도,"21,937","32,664","40,601","40,941","48,357","50,893","45,347","43,957","62,171","65,300",...,"85,582","87,153","70,092","49,639","37,994","27,737","12,531","3,321",537,75
경상북도,"30,258","47,180","56,446","57,308","67,935","73,315","71,124","69,202","92,322","92,996",...,"116,681","124,322","102,548","71,055","46,657","34,625","16,090","4,202",666,54
경상남도,"39,927","68,284","82,716","81,107","87,587","93,056","92,266","92,574","130,474","128,361",...,"145,149","147,161","118,327","75,040","49,761","32,393","14,470","3,624",519,60
제주특별자치도,"9,996","16,141","18,646","17,780","18,937","20,346","20,109","19,332","27,582","27,581",...,"29,038","26,761","20,384","12,103","9,952","6,457","3,142",861,80,18

In [ ]:
### 여자부분만 가져오기

df_w = pd.read_excel('연령별인구현황01.xlsx',skiprows=3,index_col='행정기관',usecols='B,AB:AV')
df
df_w.columns = df.columns # 여자부분 컬럼명에 남자부분 컬럼명 대입(복사,통일시키기)?
df_w.columns

# 천단위 표시,int 타입
df_w.iloc[0] = df_w.iloc[0].str.replace(',','').astype(int)
df_w.iloc[0]

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,646489,968575,1132783,1123926,1335449,1614754,1613807,1535876,1983088,1905403,...,2095081,2121194,1761993,1206642,947851,810820,487910,189338,44265,7144
서울특별시,"102,768","146,070","172,431","184,946","293,724","417,237","388,020","324,981","370,907","345,643",...,"360,074","367,507","326,543","226,502","179,215","132,016","71,121","26,775","6,759","1,144"
부산광역시,"36,459","57,657","65,296","63,008","83,953","98,791","97,679","91,396","123,773","115,599",...,"138,361","155,429","141,150","101,735","75,070","58,084","30,669","10,807","2,694",370
대구광역시,"27,792","45,108","51,745","51,780","63,054","69,851","67,694","63,002","89,617","89,721",...,"106,019","106,041","85,160","63,344","46,271","39,822","22,216","8,020","1,665",230
인천광역시,"40,111","58,167","66,909","65,639","77,129","97,684","102,711","95,142","120,895","112,792",...,"127,910","126,367","97,696","59,885","46,783","37,535","22,860","9,434","2,380",385
광주광역시,"18,973","29,340","35,319","35,918","43,235","47,633","42,941","40,997","56,977","56,925",...,"57,853","54,283","42,385","30,618","24,749","19,221","10,933","4,339",977,185
대전광역시,"19,156","27,467","32,602","33,951","44,026","50,657","46,466","42,111","54,574","55,293",...,"58,113","57,409","46,875","30,603","23,103","19,086","11,409","4,376","1,027",183
울산광역시,"14,704","23,494","27,051","25,365","23,832","28,834","30,942","31,481","44,337","41,783",...,"50,861","47,521","36,603","22,596","14,721","11,483","6,428","2,438",583,71
세종특별자치시,"8,479","12,871","13,650","11,546","8,458","10,060","13,958","16,081","21,352","17,651",...,"11,272","10,422","8,361","5,148","3,565","3,135","2,143",970,227,37
경기도,"195,091","285,329","326,843","317,846","360,865","433,934","453,794","444,236","568,337","536,723",...,"550,716","518,134","402,806","254,977","202,834","164,803","99,530","38,785","9,553","1,470"
강원특별자치도,"18,750","25,453","30,636","31,301","34,971","36,607","37,023","36,714","50,252","51,950",...,"64,196","73,593","63,936","41,071","35,491","33,402","20,296","7,824","2,086",307
충청북도,"20,027","30,042","35,276","34,436","37,320","43,147","42,086","42,660","55,552","55,373",...,"66,834","68,834","58,803","38,325","30,149","29,521","19,095","7,314","1,570",217
충청남도,"27,565","42,051","49,449","48,128","48,664","51,134","55,498","59,025","77,404","74,132",...,"81,071","86,744","73,584","52,675","41,997","41,733","29,424","11,790","2,569",436
전북특별자치도,"19,115","30,599","39,099","40,095","43,091","43,763","41,017","41,645","57,383","61,781",...,"71,829","76,919","65,983","50,592","42,548","41,336","26,822","10,895","2,451",415
전라남도,"21,346","31,032","38,784","38,232","38,012","40,064","39,245","40,555","55,771","57,135",...,"73,195","80,630","68,334","53,809","48,763","50,473","32,535","12,802","2,694",524
경상북도,"28,722","44,530","52,338","51,216","51,324","54,018","57,053","60,871","85,022","85,772",...,"109,507","120,350","102,753","78,336","57,832","60,587","38,650","14,858","3,276",517
경상남도,"37,852","64,143","77,649","74,270","67,688","73,097","78,687","85,551","123,359","121,517",...,"140,346","144,843","120,041","82,638","62,639","58,333","36,738","14,516","3,047",379
제주특별자치도,"9,579","15,222","17,706","16,249","16,103","18,243","18,993","19,428","27,576","25,613",...,"26,924","26,168","20,980","13,788","12,121","10,250","7,041","3,395",707,274