In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python
2번    강태원   구로고  184   40   35   50  55  25        Java
3번    강호림   구로고  168   80   75   70  80  75  Javascript
4번    김수찬   구로고  187   40   60   70  75  80         NaN
5번    김재욱   구로고  188   15   20   10  35  10         NaN
6번    박동현  디지털고  202   80  100   95  85  80           C
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190  100   85   90  95  95          C#

함수 선언 및 호출 : apply()

In [ ]:
def add_cm(height):
    return str(height) + 'cm'

In [ ]:
## apply 함수 호출
df['키'] = df['키'].apply(add_cm)
df

       이름    학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197cm   90   85  100  95  85      Python
2번    강태원   구로고  184cm   40   35   50  55  25        Java
3번    강호림   구로고  168cm   80   75   70  80  75  Javascript
4번    김수찬   구로고  187cm   40   60   70  75  80         NaN
5번    김재욱   구로고  188cm   15   20   10  35  10         NaN
6번    박동현  디지털고  202cm   80  100   95  85  80           C
7번    박혜정  디지털고  188cm   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190cm  100   85   90  95  95          C#

In [ ]:
df.info() # 키 컬럼 오브젝트로 바뀜

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      object
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    6 non-null      object
dtypes: int64(5), object(4)
memory usage: 940.0+ bytes

In [ ]:
df['SW특기'] = df['SW특기'].str.lower()

In [ ]:
def change(lang): # lang타입 : str
    if pd.notnull(lang):
        return lang.upper()
    else:
        return 'PYTHON'

In [10]:
df['SW특기'].apply(change)

지원번호
1번        PYTHON
2번          JAVA
3번    JAVASCRIPT
4번        PYTHON
5번        PYTHON
6번             C
7번        PYTHON
8번            C#
Name: SW특기, dtype: object